.main__cinco__contenedor {
  background-color: #161616;
  background-image: url(../img/detalles2.png);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.main__cinco__contenedor__titulo {
  padding-top: 20px;
  font-size: 25px;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}
.main__cinco__contenedor_pa {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}
.main__cinco__contenedor_pp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}
.main__cinco__contenedor_pa__img {
  width: 90%;
  box-shadow: 0 0 15px white;
  margin-left: 5%;
}
.main__cinco__contenedor_pa__text {
  width: 90%;
  text-align: center;
  margin-bottom: 20px;
}
.subAbout {
  color: #2b89d0;
}
@media (min-width: 992px) {
  .main__cinco {
    background-image: url(../img/wallpaper-2.png);
    background-repeat: repeat-x;
    background-size: cover;
    background-position: center center;
    width: 100%;
    padding: 0px;
    display: flex;
    justify-content: center;
  }
  .main__cinco__contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1440px;
    height: 990px;
    overflow: hidden;
  }
  .main__cinco__contenedor div {
    padding-bottom: 0px;
  }
  .main__cinco__contenedor__titulo {
    font-size: 30px;
    width: 70%;
    padding-top: 0px;
  }
  .main__cinco__contenedor_pa {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .main__cinco__contenedor_pa div {
    padding-right: 30px;
    padding-bottom: 40px;
    padding-top: 0px;
  }
  .main__cinco__contenedor_pa__img {
    height: 210px;
    width: 420px;
    box-shadow: 0 0 15px white;
  }
  .main__cinco__contenedor_pa__text {
    width: 30%;
    text-align: start;
    margin-bottom: 0px;
  }
  .main__cinco__contenedor_pp {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    padding-top: 0px;
    gap: 20px;
  }

  .main__cinco__contenedor_pp div {
    padding-right: 30px;
  }
}
