.main__seis_contenedor {
  @include background;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  overflow: hidden;
  text-align: center;
}
.main__seis__contenedor__ubicacion div {
  padding-bottom: 20px;
}
.main__seis__contenedor__compañia h1 {
  font-size: 35px;
  color: $colorUno;
}
.main__seis__contenedor__texto {
  color: gray;
}
.main__seis__contenedor__mapa {
  width: 100%;
  height: 300px;
}
@media (min-width: 992px) {
  .main__seis {
    @include fondoUno;
    background-position: center center;
    width: 100%;
    padding: 0px;
    display: flex;
    justify-content: center;
    &_contenedor{
      background-color: #161616;
      background-image: url(../img/detalles2.png);
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
      width: 1440px;
      height: 990px;
      text-align: start;
      &__ubicacion {
        display: flex;
        flex-direction: column;
      }
      &__compañia{
        width: 50%;
        text-align: center;
      }
    }
  }
  .main__seis__contenedor__compañia h1 {
    font-size: 50px;
  }
  .main__seis__contenedor__mapa {
    width: 600px;
    height: 900px;
  }
}
