/* Css contacto */
.main__tres__contenedor {
    background-color: #161616;
    background-image: url(../img/detalles2.png);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 20px;
  }
  .main__tres__contenedor__form {
    display: flex;
    background-color: #212121;
    border-radius: 41px;
    box-shadow: 0 0 15px white;
    width: 90%;
    height: 60%;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 30px;
  }
  .tituloContacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
  }
  .forms {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .nombreForm {
    margin: 10px;
    font-size: 15px;
    background-color: #212121;
    border: none;
    border-bottom: 1px solid white;
    color: white;
    width: 80%;
  }
  .emailForm {
    margin: 10px;
    background-color: #212121;
    border: none;
    border-bottom: 1px solid white;
    color: white;
    width: 80%;
    font-size: 15px;
  }
  .telefonoForm {
    margin: 10px;
    font-size: 15px;
    background-color: #212121;
    border: none;
    border-bottom: 1px solid white;
    color: white;
    width: 80%;
  }
  .dniForm {
    margin: 10px;
    font-size: 15px;
    background-color: #212121;
    border: none;
    border-bottom: 1px solid white;
    color: white;
    width: 80%;
  }
  .enviarForm {
    background-color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 41px;
    box-shadow: 0 0 15px white;
    text-align: center;
    font-size: 10px;
    margin-bottom: 10px;
  }
  
  .enviarForm:hover {
    background-color: #2b89d0;
    cursor: pointer;
  } 
  @media (min-width: 992px){
    .main__tres {
        background-image: url(../img/wallpaper-1.png);
        background-repeat: repeat-x;
        background-size: cover;
        background-position: center center;
        width: 100%;
        padding: 0px;
        display: flex;
        justify-content: center;
      }
      .main__tres__contenedor {
        width: 1440px;
        height: 990px;
      }
    
      .main__tres__contenedor__form {
        box-shadow: 0 0 15px white;
        width: 50%;
        height: 45%;
        flex-direction: column;
        justify-content: center;
        margin-top: 20px;
        margin-bottom: 70px;
      }
      .tituloContacto {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .forms {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .nombreForm {
        margin: 20px;
        font-size: 20px;
        background-color: #212121;
        border: none;
        border-bottom: 1px solid white;
        color: white;
        width: 80%;
      }
      .emailForm {
        margin: 20px;
        background-color: #212121;
        border: none;
        border-bottom: 1px solid white;
        color: white;
        width: 80%;
        font-size: 20px;
      }
      .telefonoForm {
        margin: 20px;
        font-size: 20px;
        background-color: #212121;
        border: none;
        border-bottom: 1px solid white;
        color: white;
        width: 80%;
      }
      .dniForm {
        margin: 20px;
        font-size: 20px;
        background-color: #212121;
        border: none;
        border-bottom: 1px solid white;
        color: white;
        width: 80%;
      }
      .enviarForm {
        background-color: white;
        border: none;
        padding: 10px 15px;
        border-radius: 41px;
        box-shadow: 0 0 15px white;
        text-align: center;
        font-size: 16px;
      }
    
      .enviarForm:hover {
        background-color: #2b89d0;
        cursor: pointer;
      }
  }