/* Index General 1 */
.contenedor__gris__1 {
    background-color: #161616;
    background-image: url(../img/detalles2.png);
  }
  .titulo-video {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 30px;
  }
  .leyenda__1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 15px;
    line-height: 20px;
    padding-top: 30px;
    margin-left: 15px;
  }
  .video iframe {
    width: 100%;
  }
  
  .bronco__cta {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  .bronco__azul img {
    width: 100%;
    height: 300px;
  }
  .cta {
    background-color: #2b89d0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 50px;
    font-size: 18px;
    box-shadow: 0 0 15px #2b89d0;
    border-radius: 41px;
  }
  
  .contenedor__caracteristicas {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    padding-top: 30px;
  }
  .caracteristicas {
    display: flex;
    width: 100%;
    background-color: #212121;
    border-radius: 41px;
    box-shadow: 0 0 15px #2b89d0;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 15px;
  }
  .caracteristicas p {
    padding: 5px;
  }
  /* Index General 1 */
  /* Index General 2 */
.contenedor__gris__2 {
    background-color: #161616;
    background-image: url(../img/detalles2.png);
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
  }
  .bronco-cta {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .bronco__amarilla img {
    width: 100%;
    padding-top: 10px;
  }
  .cta2 {
    background-color: #ffe600;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 50px;
    font-size: 18px;
    box-shadow: 0 0 15px #ffe600;
    border-radius: 41px;
    margin-bottom: 30px;
  }
  .contenedorCuadradoGris {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .cuadradoGris {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #212121;
    padding: 30px 15px;
    margin: 30px 15px;
    border-radius: 41px;
    box-shadow: 0 0 15px #ffe600;
    text-align: justify;
  }
  .cuadradoGrisTittle {
    font-size: 15px;
    line-height: 0px;
  }
  .descripcionCreación{
    padding-top: 10px;
    color: gray;
  }
  /* Index General 2 */

  @media (min-width: 1440px){
      /* Index General 1 */
  .main__uno {
    background-image: url(../img/wallpaper-2.png);
    background-repeat: repeat-x;
    width: 100%;
    padding: 0px;
    display: flex;
    justify-content: center;
    background-size: cover;
  }
  .contenedor__gris__1 {
    width: 1440px;
    height: 990px;
    display: grid;
    grid-template-columns: 720px 720px;
  }
  .titulo-video {
    align-items: center;
    margin-top: 80px;
  }
  .leyenda__1 {
    font-size: 22px;
    line-height: 40px;
    margin-left: 0px;
  }

  .video iframe {
    width: 500px;
  }

  .bronco__cta {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  .bronco__azul img {
    width: 584px;
    height: 464px;
    padding-top: 40px;
  }
  .contenedor__caracteristicas {
    width: 1440px;
  }
  .caracteristicas {
    display: flex;
    width: 1160px;
    height: 95px;
    top: 800px;
    left: 380px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
    /* Index General 1 */
    /* Index General 2 */
  .main__dos {
    background-image: url(../img/wallpaper-1.png);
    background-repeat: repeat-x;
    width: 100%;
    display: flex;
    justify-content: center;
    background-size: cover;
  }
  .contenedor__gris__2 {
    display: flex;
    flex-direction: row;
    width: 1440px;
    height: 990px;
  }
  .bronco-cta {
    width: 720px;
  }
  .contenedorCuadradoGris {
    width: 720px;
  }
  .cuadradoGris {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 430px;
    height: 620px;
    padding: 5px;
  }
  .cuadradoGrisTittle {
    margin-bottom: 0px;
    font-size: 15px;
    line-height: 0px;
  }
  .descripcionCreación {
    text-align: center;
    line-height: 22px;
    width: 90%;
    text-align: justify;
  }
}
  /* Index General 2 */