.main__cuatro__contenedor {
  @include background;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 30px;
}
.main__cuatro__contenedor__img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.main__cuatro__contenedor__img div {
  padding-bottom: 30px;
}
.main__cuatro__contenedor__img div img {
  width: 90%;
  height: 10%;
  box-shadow: 0 0 10px white;
}
  
.textoRodados {
  font-size: 20px;
  width: auto;
  }

@media (min-width: 1255px) {
  .main__cuatro {
    @include fondoDos;
    background-position: center center;
    width: 100%;
    padding: 0px;
    display: flex;
    justify-content: center;
  }
  .main__cuatro__contenedor {
    width: 1440px;
    height: 990px;
  }
  .main__cuatro__contenedor__img {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 100px;

  }

  .main__cuatro__contenedor__img div {
    padding: 9px;
  }
  .main__cuatro__contenedor__img div img {
    height: 250px;
    width: 400px;
  }
  
  .textoRodados {
    font-size: 30px;
    width: auto;
  }
}

