.dropdown-item:hover{
    background-color: $colorUno;
    border-radius: 41px;
  }

  .navbar-nav{
    align-items: center;
  }

  .dropdown-toggle::after{
  content: none;
  }

  .nav-link:hover, .nav-link:focus{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .dropdown-menu.show {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-color: white;
}
