/* Header */
.main__header {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background-color: #161616;
  color: white;
  width: 100%;
  align-content: center;
  &__img {
    height: 50px;
    padding: 5px;
    margin-top: 5px;
  }
  &__nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 5px;
    width: 100%;
    
  }
  li{
    padding-right: 20px;
  }
  ul ul {
    display: none;
  }
  ul li{
    margin-left: 10px;
  }
}
/* Header */
@media (min-width: 992px) {
  .main__header {
    &__img {
      height: 100px;
      padding: 15px;
    }
    &__nav {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-column-gap: 40px;
      padding: 15px;
      width: 500px;
    }
    ul li {
      display: inline-block;
      width: 8%;
      align-items: center;
    }
    ul ul {
      position: absolute;
      padding: 10px 0 0 0px;
      overflow: auto;
      text-align: center;
      padding-bottom: 10px;
    }
    ul li:hover ul {
      display: block;
      background-color: #212121;
      border-radius: 15px;
    }
  }
}
